
<p class='text-center'>
  <strong>Citation</strong>
</p>

<div class='form-horizontal'>

  <div class='form-group form-group-sm'>
    <label for='chapterTitle' class='col-sm-4 control-label'>Chapter/Article Title:</label>
    <div class='col-sm-8'>
      <%= text_field_tag(:chapterTitle, '', size: '30', class: 'form-control') %>
    </div>
  </div>

  <div class='form-group form-group-sm'>
    <label for='startPage' class='col-sm-4 control-label'>Start Page:</label>
    <div class='col-sm-8'>
      <%= text_field_tag(:startPage, '', size: '30', class: 'form-control') %>
    </div>
  </div>

  <div class='form-group form-group-sm'>
    <label for='endPage' class='col-sm-4 control-label'>End Page:</label>
    <div class='col-sm-8'>
      <%= text_field_tag(:endPage, '', size: '30', class: 'form-control') %>
    </div>
  </div>

  <div class='form-group form-group-sm'>
    <label for='author' class='col-sm-4 control-label'>Article Author:</label>
    <div class='col-sm-8'>
      <%= text_field_tag(:author, '', size: '30', class: 'form-control') %>
    </div>
  </div>

  <div class='form-group form-group-sm'>
    <label for='volume' class='col-sm-4 control-label'>Volume #:</label>
    <div class='col-sm-8'>
      <%= text_field_tag(:volume, '', size: '30', class: 'form-control') %>
    </div>
  </div>

  <div class='form-group form-group-sm'>
    <label for='issue' class='col-sm-4 control-label'>Issue #, Date:</label>
    <div class='col-sm-8'>
      <%= text_field_tag(:issue, '', size: '30', class: 'form-control') %>
    </div>
  </div>

</div>

