
<%= form_for(@offsite_request) do |f| %>

  <%= hidden_field_tag(:itemOwningInstitution, @clio_record.owningInstitution) %>
  <%= hidden_field_tag(:bibId, @clio_record.key) %>
  <%= hidden_field_tag(:titleIdentifier, @clio_record.title) %>
  <%= hidden_field_tag(:mfhd_id, @holding[:mfhd_id]) %>
  <%= hidden_field_tag(:callNumber, @holding[:display_call_number]) %>
  

  <% if @offsite_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offsite_request.errors.count, "error") %> prohibited this offsite_request from being saved:</h2>
      <ul>
      <% @offsite_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- should never happen -->
  <% if @clio_record.blank? %>
    <div class='alert alert-danger'>
      ERROR: No CLIO Record passed to view!
    </div>
  <% end %>


  <%= render 'bib_form', f: f %>
  <br>
  <%= render 'items_form', f: f %>
  <br>
  <%= render 'delivery_form', f: f %>


  <br>

  <div class='offset-block'>
    <small>
      <label for='emailAddress' class='control-label'>
        Preferred contact email for this request:
        &nbsp;
      </label>
      <%= text_field_tag(:emailAddress, current_user.email, size: '40') %>
    </small>
  </div>

  <br>
  <br>

  <div class='row'>
    <div class='col-sm-6'>
      <%= f.submit('Submit Offsite Request', name: 'submit') %>
    </div>
    <div class='col-sm-6'>
      <span class='legacy-link bg-success'>
        <%= f.submit('Submit Legacy Offsite Request', name: 'legacy_submit') %>
      </span>
    </div>
  </div>

<% end %>


