<%= form_for(@offsite_request) do |f| %>

  <% if @offsite_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offsite_request.errors.count, "error") %> prohibited tdis offsite_request from being saved:</h2>

      <ul>
      <% @offsite_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @clio_record %>
    <%= render 'record_form', f: f %>
  <% else %>
    <!-- should never happen -->
    <div class='alert alert-danger'>
      ERROR: No CLIO Record passed to view!
    </div>
  <% end %>

  <%= render 'delivery_form', f: f %>


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>


