<%= form_for(@offsite_request) do |f| %>

  <% if @offsite_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offsite_request.errors.count, "error") %> prohibited this offsite_request from being saved:</h2>

      <ul>
      <% @offsite_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @clio_record %>  
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>CLIO Record Key:</th>
          <td><%= @clio_record.key%></td>
        </tr>
        <tr>
          <th>TITLE:</th>
          <td><%= @clio_record.title%></td>
        </tr>
        <tr>
          <th>AUTHOR:</th>
          <td><%= @clio_record.author%></td>
        </tr>
        <tr>
          <th>PUBLISHER:</th>
          <td><%= @clio_record.publisher%></td>
        </tr>
      </tbody>
    </table>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
