<div class='holdings'>

  <% @clio_record.holdings.each do |holdings| %>  
    <table class='offsite_request'>
      <tr>
        <td colspan='7'>
          <%= holdings[:location_code].upcase %>
          &nbsp;  &nbsp;  &nbsp;  &nbsp;
          <%= holdings[:display_call_number].upcase %>
        </td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>Vol/Part No.</td>
        <td>Barcode</td>
        <td>Availability</td>
        <td>Note</td>
        <td>Table of Contents (when available)</td>
      </tr>

      <% holdings[:items].each do |item| %>
      <tr>
        <td></td>
        <td><%= item[:enum_chron] %></td>
        <td><%= item[:barcode] %></td>
        <td><%= @clio_record.availability[ item[:barcode] ] || '(unknown)' %></td>
        <td></td>
        <td><%= toc_link(@clio_record, item[:barcode]) %></td>
      <tr>
      <% end %>

    </table>
  <% end %>
</div>
