
<div class='items_form'>

  <div class='instructional_title'>
    Please select one or more items:
  </div>
  <div class='instructional_description'>
    (For electronic delivery service only one article may be requested at a time.)
  </div>


  <table class='offsite_request table-hover'>
    <tr>
      <td colspan='5'>
        <strong>
          Items for 
          call number <%= @holding[:display_call_number].upcase %>,
          location <%= location_label(@holding[:location_code]) %>
        </strong>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Vol / Part No.</td>
      <td>Barcode</td>
      <td>Note</td>
      <td>Table of Contents (when available)</td>
    </tr>

    <% @holding[:items].each do |item| %>
      <% next unless availability = @clio_record.availability[ item[:barcode] ] %>
      <tr>
        <td>
          <% case availability
             when 'Available' %>
               <%= check_box_tag "itemBarcodes[]", item[:barcode] %>
          <% else %>
            OUT
            <!-- <%= availability %> -->
          <% end %>
        </td>
        <td><%= item[:enum_chron] %></td>
        <td><%= item[:barcode] %></td>
        <td><%= use_restriction_note(@holding, item) %></td>
        <td><%= toc_link(@clio_record, item[:barcode]) %></td>
      <tr>
    <% end %>

  </table>

</div>
