
<h4>Please select one or more items:</h4>

<div class='bib_data'>
  <table class="offsite_request">
    <tbody>
      <tr>
        <td>CLIO Record Key:</td>
        <td><%= @clio_record.key%></td>
      </tr>
      <tr>
        <td>TITLE:</td>
        <td><%= @clio_record.title%></td>
      </tr>
      <tr>
        <td>AUTHOR:</td>
        <td><%= @clio_record.author%></td>
      </tr>
      <tr>
        <td>PUBLISHER:</td>
        <td><%= @clio_record.publisher%></td>
      </tr>
    </tbody>
  </table>
</div>

<br>
  
<div class='holdings'>

  <% @clio_record.holdings.each do |holdings| %>  
    <table class='offsite_request'>
      <tr>
        <td colspan='7'>
          <%= holdings[:location_code].upcase %>
          &nbsp;  &nbsp;  &nbsp;  &nbsp;
          <%= holdings[:display_call_number].upcase %>
        </td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>Vol/Part No.</td>
        <td>Barcode</td>
        <td>Availability<br>(by items)<br><%=@clio_record.t1%> ms</td>
        <td>Availability<br>(by bib)<br><%=@clio_record.t2%> ms</td>
        <td>Note</td>
        <td>Table of Contents (when available)</td>
      </tr>

      <% holdings[:items].each do |item| %>
      <tr>
        <td></td>
        <td><%= item[:enum_chron] %></td>
        <td><%= item[:barcode] %></td>
        <td><%= @clio_record.availabilities1[ item[:barcode] ] || '(unknown)' %></td>
        <td><%= @clio_record.availabilities2[ item[:barcode] ] || '(unknown)' %></td>
        <td></td>
        <td><%= toc_link(@clio_record, item[:barcode]) %></td>
      <tr>
      <% end %>

    </table>
  <% end %>
</div>
