
<li class="dropdown">
  <% if current_user %>
    <a data-toggle="dropdown" href="#">
      <%= current_user.login %>
    </a>
  <% else %>
    <%= link_to "Log In", user_omniauth_authorize_path(:saml) %>
  <% end %>

  <ul class="dropdown-menu">
    <% if current_user %>
      <li>
        <div class='well user-info'>
          <%= current_user %>
          <br>
          UNI: <%= current_user.uid %>
          <br>
          Email: <%= current_user.email %>
          <% if current_user.valet_admin? %>
            <br>
            <br>
            <%= link_to "Valet Logs", admin_logs_path %>
          <% end %>
          <% if current_user.admin? %>
            <br>
            <br>
            <%= link_to "System Configuration Details", admin_system_path %>
          <% end %>

          <% if Rails.env != 'valet_prod' %>
            <br>
            <br>
            Patron Barcode: <%= current_user.barcode %>
            <br>
            Affiliations:
            <div class='tight-list'>
              <%= current_user.affils.join(',  ') %>
            </div>
            Offsite Eligible?  <%= current_user.offsite_eligible? %>
            <br>
            Offsite Blocked?  <%= current_user.offsite_blocked? %>
            <br>
            <br>
            Admin?  <%= current_user.admin? %>
            <br>
            Valet Admin?  <%= current_user.valet_admin? %>
          
            <br>
            <br>

            <button type='button' class="btn btn-default btn-xs" onclick="$('#scsb_patron_info').toggle()">
              show SCSB patron information
            </button>
            <div id='scsb_patron_info' class='tight-list collapse'>
              <% current_user.scsb_patron_information.each_pair do |key, value| %>
                <%= key + ":   " + value.to_s %>
                <br>
              <% end %>
            </div>
          <% end %>

        </div>
      </li>

      <li>
        <%= link_to "Log Out", destroy_user_session_path %>
      </li>
    <% end %>
    
  </ul>
  
</li>


