
<li class="dropdown">
  <% if current_user %>
    <a data-toggle="dropdown" href="#">
      <%= current_user.login %>
    </a>
  <% else %>
    <%= link_to "Log In", user_saml_omniauth_authorize_path %>
  <% end %>

  <ul class="dropdown-menu">
    <% if current_user %>
      <li>
        <div class='well user-info'>
          <%= current_user %>
          <br>
          UNI: <%= current_user.uid %>
          <br>
          Email: <%= current_user.email %>
          <% if current_user.valet_admin? %>
            <br>
            <br>
            <%= link_to "Offsite Logs", admin_logs_path %>
            <br>
            <%= link_to "Valet Logs", logs_path %>
            <br>
            <%= recap_staff_link() %>
          <% end %>
          <% if current_user.admin? %>
            <br>
            <br>
            <%= link_to "System Configuration Details", admin_system_path %>
          <% end %>

          <% if Rails.env != 'valet_prod' %>
            <br>
            <br>
            Patron Barcode: <%= current_user.barcode %>
            <br>
            Patron Group: <%= current_user.patron_group %>
            <br>
            Affiliations:
            <div class='tight-list'>
              <%= current_user.affils.join(',  ') %>
            </div>
            <br>
            Admin?  <%= current_user.admin? %>
            <br>
            Valet Admin?  <%= current_user.valet_admin? %>
          <% end %>

        </div>
      </li>

      <li>
        <%= link_to "Log Out", destroy_user_session_path %>
      </li>
    <% end %>
    
  </ul>
  
</li>


