
<br>

<% if current_user && current_user.valet_admin? %>

  <h4>Staff Links</h4>

  <ul>
    <li><%= link_to "Valet Logs", logs_path %></li>
    <li><%= link_to "Offsite Logs (Old)", admin_logs_path %></li>
    <li><%= recap_staff_link() %></li>
  </ul>

<% end %>

<% if current_user && current_user.admin? %>
  <h4>Admin Links</h4>
  <ul>
    <li><%= link_to "System Configuration Details", admin_system_path %></li>
  </ul>
<% end %>


<!--

<div class="row">
  <div class="col-xs-6">
    What can I help you with?
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-6">
    <a class="btn btn-default" href="<%= bib_offsite_requests_path %>">New Offsite Request</a>
  </div>
</div>



 -->
