
<h4><i>Item in BearStor, request for pickup</i></h4>

<%= form_for(@barnard_remote_request) do |f| %>

  <%= hidden_field_tag(:emailAddress, current_user.email) %>
  <%= hidden_field_tag(:bibId, @clio_record.key) %>
  <%= hidden_field_tag(:titleIdentifier, @clio_record.title) %>
  <%= hidden_field_tag(:mfhd_id, @holding[:mfhd_id]) %>
  <%= hidden_field_tag(:callNumber, @holding[:display_call_number]) %>
  
  <!-- should never happen -->
  <% if @clio_record.blank? %>
    <div class='alert alert-danger'>
      ERROR: No CLIO Record passed to view!
    </div>
  <% end %>


  <%= render 'bib_form', f: f %>
  <br>

  <% if @available_items.size == 0 %>
    <!-- No Available Remote Items - patron should not` have been sent to Valet -->
    <div class='danger-block'>
      <strong>NOTICE:</strong>
      No available remote items for <%=@clio_record.key%>.
      <br>The Remote Request System cannot be used for this record.
      <br>Please locate the material in CLIO and try Borrow Direct or ILL.
    </div>
    <div id='close_popup_button'></div>
    <%= javascript_tag 'close_popup_button();' %>

  <% else %>
    <!-- Yes, there are available Remote Items - display request form as usual -->
    <%= render 'items_form', f: f %>
    <br>
    <br>
    <div class='row'>
      <div class='col-sm-6'>
        <%= f.submit('Submit Remote Request', name: 'submit') %>
      </div>
      <div class='col-sm-6'>
      </div>
    </div>
  
  <% end %>  <!-- end for (available_items.size > 0) -->


<% end %>


