<p id="notice"><%= notice %></p>

<h4>Listing Remote Requests</h4>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @remote_requests.each do |remote_request| %>
      <tr>
        <td><%= link_to 'Show', remote_request %></td>
        <td><%= link_to 'Edit', edit_remote_request_path(remote_request) %></td>
        <td><%= link_to 'Destroy', remote_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Remote request', new_remote_request_path %>
