
<div class='items_form'>

  <% if @barcode.blank? %>
    <div class='instructional_title'>
      Please select one or more items:
    </div>
  <% end %>


  <table class='valet_request table-hover'>
    <tr>
      <td colspan='5'>
        <strong>
          Items for 
          call number <%= @holding[:display_call_number].upcase %>,
          location <%= location_label(@holding[:location_code]) %>
        </strong>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Vol / Part No.</td>
      <td>Barcode</td>
      <td>Note</td>
      <td>Table of Contents (when available)</td>
    </tr>

    <% @holding[:items].each do |item| %>
      <!-- Do we have a barcode filter in effect? -->
      <!-- If so, pre-select that item, and hide all other items. -->
      <% next if @barcode && item[:barcode] != @barcode %>
      <% next unless availability = @clio_record.voyager_availability[ item[:item_id] ] %>
      <tr>
        <td>
          <% case availability
             when 'Available' %>
               <%= request_item_check_box_tag(item, @barcode) %>
          <% else %>
            OUT
            <!-- <%= availability %> -->
          <% end %>
        </td>
        <td><%= item[:enum_chron] %></td>
        <td><%= item[:barcode] %></td>
        <td><%= use_restriction_note(@holding, item) %></td>
        <td><%= toc_link(@clio_record, item[:barcode]) %></td>
      <tr>
    <% end %>

  </table>

</div>
