<!-- partial to ask for the patron's campus -->

<br>
<h4>
Please select your campus.
</h4>
<br>

<%= form.radio_button(:campus, 'mbuts', id: :campus_mbuts) %>
<%= form.label('Columbia (Morningside) / Barnard / Union Theological Seminary / Lamont-Doherty Earth Observatory', for: :campus_mbuts) %>
<br>
<%= form.radio_button(:campus, 'mcc', id: :campus_mcc) %>
<%= form.label('Medical Center Campus', for: :campus_mcc) %>
<br>
<%= form.radio_button(:campus, 'law', id: :campus_law) %>
<%= form.label('Columbia Law School', for: :campus_law) %>
<br>
<%= form.radio_button(:campus, 'tc', id: 'campus_tc') %>
<%= form.label('Teachers College', for: :campus_tc) %>

