<!-- partial to ask for the patron's campus -->

<br>
<h4>
Please select your campus.
</h4>
<br>

<%= form.radio_button(:campus, 'mbuts', id: :campus_mbuts) %>
<%= label_tag(:campus_mbuts, 'Columbia (Morningside) / Barnard / Union Theological Seminary') %>
<br>
<%= form.radio_button(:campus, 'mcc', id: :campus_mcc) %>
<%= label_tag(:campus_mcc, 'Medical Center Campus') %>
<br>
<%= form.radio_button(:campus, 'law', id: :campus_law) %>
<%= label_tag(:campus_law, 'Columbia Law School') %>
<br>
<%= form.radio_button(:campus, 'tc', id: 'campus_tc') %>
<%= label_tag(:campus_tc, 'Teachers College') %>

