
<!-- views/forms/_holding.html.erb -->
<!-- generic display of item details within a single holding -->

<% filter_barcode ||= nil %>

<% holding[:summary_holdings].each do |summary| %>
  <%= summary%>
  <br>
<% end %>

<div class='items_form'>

  <table class='valet_request table-hover'>
    <tr>
      <td colspan='5'>
        <strong>
          Items for 
          call number <%= holding[:display_call_number].upcase %>,
          location <%= location_label(holding) %>
        </strong>
        <br>
        <% holding[:summary_holdings].each do |summary| %>
          <%= summary%>
          <br>
        <% end %>
        <% if current_user.admin? && false %>
          <b><i><small>DEBUG - Customer Code: <%= holding[:customer_code]%></small></i></b>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Vol / Part No.</td>
      <td>Barcode</td>
      <td>Note</td>
      <td>Table of Contents (when available)</td>
    </tr>

    <% holding[:items].each do |item| %>
      <% # next unless availability = bib_record.voyager_availability[ item[:item_id] ] %>
      <% # next unless availability = bib_record.get_item_availability(holding, item) %>
      <% availability = bib_record.get_item_availability(holding, item) %>
      <tr>
        <td>
          <% case availability
             when 'Available' %>
               <%= request_item_check_box_tag(item, filter_barcode) %>
          <% when nil %>
            &nbsp;
          <% else %>
            OUT
          <% end %>
        </td>
        <td><%= item[:enum_chron] %></td>
        <td><%= item[:barcode] %></td>
        <td><%= use_restriction_note(holding, item) %></td>
        <td><%= toc_link(bib_record, item[:barcode]) %></td>
      <tr>
    <% end %>

  </table>

</div>
