

<!-- views/forms/avery_onsite.html.erb -->

<h4>Avery On-Site Use</h4>

<br>

On-site Use requests for onsite books will be filled in 1-2 business days, 
but offsite materials may take up to 4 days.
<br> 
Please schedule your visit accordingly.

<br>
<br>


<%= form_with url: avery_onsite_index_path do |form| %>

  <!-- what we'll need to make the request -->
  <%= form.hidden_field(:id, value: bib_record.id) %>

  <!-- display basic bib data -->
  <%= render 'bib', bib_record: bib_record %>

  <br>
  

  <div class='instructional_title'>
    Visit Details
  </div>
  <div class='instructional_description'>
    Please let us know when you would like to see the above material(s):
  </div>

  <div class='form-inline valet_request'>
    <div class='form-group'>
      <label for='visitDate' class='control-label'>Date:</label>
      &nbsp;
      <%= text_field_tag(:visitDate, '', size: '15', class: 'form-control', disabled: false, placeholder: 'MM/DD/YYYY') %>
    </div>
  </div>


  <!-- Many Avery holdings don't have item-records.  That's ok.  -->
  <% if total_item_count == 0 %>
    <% holdings.each do |holding| %>
      <%= render 'holding_header', holding: holding %>
    <% end %>
  
  <% else %>
    <% if filter_barcode.nil? %>
      Please select which item(s) you are interested in
    <% end %>

    <br>

    <!-- what to collect from the patron -->
    <% holdings.each do |holding| %>
      <%= render 'holding', bib_record: bib_record, holding: holding, filter_barcode: filter_barcode %>
    <% end %>
  <% end %>

  <br> 

  Requests for onsite materials should be processed in 1-2 business days; 
  offsite materials may take up to 4 business days.

  <br>
  <br>

  You will be contacted by email
  (to <strong><%= current_user.email %></strong>)
  when the item is available.

  <br>
  <br>
  
  Please limit requests to 5 or fewer per day. 
  Contact avery-services@library.columbia.edu with questions and comments.

  <br>
  <br>  
  
  <%= form.submit('Submit On-Site Use Request', onclick: 'return validateAveryOnsiteRequestForm()') %>

<% end %>

