

<!-- views/forms/avery_onsite.html.erb -->

<h4>Avery On-Site Use</h4>

<br>
Avery is open by reservation only.  In order to access paged material, please book a 

<strong>
<a href='https://seats.library.columbia.edu/spaces?lid=11138' target='_blank'>
  seat&nbspreservation
  <small><span class="glyphicon glyphicon-new-window"></span></small>
</a>
</strong>

 in advance of your visit.  On-site Use requests for onsite books will be filled in 1-2 business days, but offsite materials may take up to 4 days.  Please schedule your seat reservation accordingly.

<br>
<br>


<%= form_with url: avery_onsite_index_path do |form| %>

  <!-- what we'll need to make the request -->
  <%= form.hidden_field(:id, value: bib_record.id) %>

  <!-- display basic bib data -->
  <%= render 'bib', bib_record: bib_record %>

  <br>
  

  <div class='instructional_title'>
    Seat Reservation Details
  </div>
  <div class='instructional_description'>
    Make a seat reservation first, 
    <u>then</u> complete this form and submit.
  </div>

  <div class="row valet_request">
    <div class='col-sm-2 col-xs-3'>
      <label for='seatNumber' class='control-label'>Seat Number:</label>
      <br>
      <%= text_field_tag(:seatNumber, '', size: '10', class: 'form-control', disabled: false) %>
    </div>
    <div class='col-sm-2 col-xs-3'>
      <label for='seatDate' class='control-label'>Date:</label>
      <br>
      <%= text_field_tag(:seatDate, '', size: '10', class: 'form-control', disabled: false) %>
    </div>
    <div class='col-sm-2 col-xs-3'>
      <label for='seatTime' class='control-label'>Time:</label>
      <br>
      <%= text_field_tag(:seatTime, '', size: '10', class: 'form-control', disabled: false) %>
    </div>
  </div>


  <!-- Many Avery holdings don't have item-records.  That's ok.  -->
  <% if total_item_count == 0 %>
    <% holdings.each do |holding| %>
      <%= render 'holding_header', holding: holding %>
    <% end %>
  
  <% else %>
    <% if filter_barcode.nil? %>
      Please select which item(s) you are interested in
    <% end %>

    <br>

    <!-- what to collect from the patron -->
    <% holdings.each do |holding| %>
      <%= render 'holding', bib_record: bib_record, holding: holding, filter_barcode: filter_barcode %>
    <% end %>
  <% end %>

  <br> 

  Requests for onsite materials should be processed in 1-2 business days; 
  offsite materials may take up to 4 business days.

  <br>
  <br>

  You will be contacted by email
  (to <strong><%= current_user.email %></strong>)
  when the item is available.

  <br>
  <br>
  
  Please limit requests to 5 or fewer per day. 
  Contact avery-services@library.columbia.edu with questions and comments.

  <br>
  <br>  
  
  <%= form.submit('Submit On-Site Use Request', onclick: 'return validateAveryOnsiteRequestForm()') %>

<% end %>

