
<!-- views/forms/avery_onsite_confirm.html.erb -->

<h4>Avery Non-Circulating Confirmation</h4>

<br>

You have requested the following for use on-site in Avery Library

<br>
<br>

<strong>
TITLE : 
<%= bib_record.title %>
<br>
AUTHOR : 
<%= bib_record.author %>
<br>
CALL NO : 
<%= bib_record.call_number %>
</strong>

<br>
<br>


<br>
Requests for onsite materials should be processed in 1-2 business days; offsite materials may take up to 4 business days.
<br>
<br>
You will be contacted by email
(to <strong><%= current_user.email %></strong>)
when the item is available.
<br>
<br>
Please limit requests to 5 or fewer per day. Contact avery-services@library.columbia.edu with questions and comments.
<br>
<br>
You can now close this browser window.
<br>
<br>
<div id='close_popup_button'></div>
<%= javascript_tag 'close_popup_button();' %>


