
<h4>Paging Request</h4>

<%= form_with url: paging_index_path do |form| %>

  <!-- what we'll need to make the request -->
  <%= form.hidden_field(:id, value: bib_record.id) %>

  <!-- display basic bib data -->
  <%= render 'bib', bib_record: bib_record %>

  <br>

  <!-- what to collect from the patron -->
  <% bib_record.holdings.each do |holding| %>
    <%= render 'holding', bib_record: bib_record, holding: holding %>
  <% end %>

  <br>
  
  <%= form.submit('Submit Request') %>

<% end %>
