
<!-- views/forms/recap_loan.html.erb -->

<h4><%=@service_config['label']%> Request</h4>

<%= form_with url: recap_loan_index_path do |form| %>

  <!-- what we'll need to make the request -->
  <%= form.hidden_field(:id, value: bib_record.id) %>

  <!-- The SCSB API requires a number of parameters: -->
  <!-- Fixed-value request parameters -->
  <%= hidden_field_tag(:requestingInstitution, 'CUL') %>
  <%= hidden_field_tag(:requestType, 'RETRIEVAL') %>
  <%= hidden_field_tag(:patronBarcode, current_user.barcode) %>
  <%= hidden_field_tag(:emailAddress, current_user.email) %>
  <!-- Record-specific request parameters -->
  <%= hidden_field_tag(:itemOwningInstitution, bib_record.owningInstitution) %>
  <%= hidden_field_tag(:bibId, bib_record.id) %>
  <%= hidden_field_tag(:titleIdentifier, bib_record.titleIdentifier) %>
  <%= hidden_field_tag(:callNumber, holding[:display_call_number]) %>
  <!-- And other parameters, filled in by form elements: itemBarcodes, deliveryLocation  -->

  <!-- display basic bib data -->
  <%= render 'bib', bib_record: bib_record %>

  <br>

  <div class='instructional_title'>
    Please select one or more items:
  </div>

  <%= render 'holding', bib_record: bib_record, holding: holding %>

  <br>

  <% if available_count == 0 %>
    <!-- No Available Offsite Items - patron should not have been sent to Valet -->
    <div class='danger-block'>
      <strong>NOTICE:</strong>
      No available offsite items for this record.
      <br>The Offsite Request System cannot be used for this record.
      <br>Please locate the material in CLIO and try Borrow Direct or ILL.
    </div>
  <% end %>

  
  <% if available_count > 0 %>

    <div class='instructional_title'>
      Please select campus delivery location:
    </div>
    <div class='instructional_description'>
      (All requests will be filled in three to four business days.)
    </div>
  
    <!-- physical delivery details -->
    <%= render 'delivery_location', bib_record: bib_record, holding: holding %>

    <br>
  
    <%= form.submit('Submit Offsite Loan Request', name: 'submit', onclick: 'return validateRecapLoanRequestForm()') %>
  <% end %>

<% end %>
