<!DOCTYPE html>
<html>
<%= render '/layouts/head' %>

<body>
<%= render 'shared/topnavbar' %>

<div class="container">

  <%= render '/shared/logo' %>


  <%= render '/layouts/messages' %>

  <br>
</div>

<div class="container-fluid container-wide">

  <%= yield %>

  <br>
  <br>

</div>

</body>
</html>
