<!DOCTYPE html>
<html>
<%= render '/layouts/head' %>

<body>
<%= render 'shared/topnavbar' %>

<div class="container">

  <!-- VALET-26 - debrand (for now)
  <%= render '/layouts/logo' %>
   -->


  <%= render '/layouts/messages' %>

  <br>
  <%= yield %>

  <br>
  <br>

</div>

</body>
</html>
