<!DOCTYPE html>
<html>
<%= render '/layouts/head' %>

<body>
<%= render 'shared/topnavbar' %>

<div class="container">

  <!-- VALET-26 - debrand (for now)
  <%= render '/layouts/logo' %>
   -->

  <!-- render ALL flash messages ABOVE page content -->
  <%= render '/layouts/messages' %>

  <br>
  <%= yield %>

  <br>
  <br>

</div>

<!-- Any page-specific inline JavaScript  (content_for :javascript)-->
<%= yield :javascript %>

</body>
</html>
