<!DOCTYPE html>
<html>
<head>
  <title>Valet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'shared/topnavbar' %>

<div class="container">

  <div class='row'>
    <a href=<%=root_path%> class='logo'>
      <%= image_tag 'valet.png' %>
      Valet
    </a>
  </div>


  <%= render '/layouts/messages' %>

  <br>
  <%= yield %>

  <br>
  <br>

</div>

</body>
</html>
