<% content_for :title, "#{@config[:label]} Request" %>

<!DOCTYPE html>
<html>
<%= render '/layouts/head' %>

<body>
<%= render 'shared/topnavbar' %>

<div class="container">

  <!-- Render any happy flash messages here -->
  <%= render '/layouts/messages_happy' %>
  
  <%= yield %>

  <!-- Render any sad flash messages here -->
  <%= render '/layouts/messages_sad' %>

  <br>

  <div id='close_popup_button'></div>
  <%= javascript_tag 'close_popup_button();' %>

</div>


<!-- Any page-specific inline JavaScript  (content_for :javascript)-->
<%= yield :javascript %>


</body>
</html>
